 body{
    background-color: #bababa;
 }

.block-end{
    display: flex;
    justify-content: flex-end;
}

.box-button_1{
    height: 30px;
    text-align: center;
}

.box-button{
    height: 60px;
    text-align: center;
}
